:root {
  --primary: #12507b;
  --background: #eaeef1;
  --text-primary: #333333;
  // element
  --el-color-primary: #12507b;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  color: var(--text-primary);
  background: var(--background);
  font-size: 16px;
  font-weight: 300;
  word-spacing: 1px;
  word-break: break-word;
}

html,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}

a {
  cursor: pointer;
  color: var(--primary);
  text-decoration: none;
  word-break: break-word;
  border-bottom: 1px solid transparent;
}
a:hover {
  border-bottom: 1px solid #0f60ab;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Safari */
input {
  -webkit-appearance: none;
}

/* 禁用样式 */
[disabled] {
  pointer-events: none;
  opacity: 0.41;
}

.el-image {
  white-space: nowrap;
  width: 100%;
  height: 100%;

  .el-image__error {
    font-size: 16px;
  }
}

.el-popover {
  text-align: center;
}

.el-message {
  min-width: 270px;
}

.el-message-box {
  user-select: text;
  width: 270px;
}

.el-switch__core:after {
  top: 0.4vw;
  left: 0.4vw;
}

.el-switch__core {
  width: 10.667vw !important;
}

.el-button.el-button--text {
  padding: 0;
}

// el-dialog
.el-dialog {
  width: 90%;
  margin-bottom: 10vh;

  .el-dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .el-dialog__headerbtn {
      position: inherit;
    }
  }

  .el-dialog__body {
    color: inherit;
    font-size: inherit;
    padding: 10px;
  }
}

// 右键菜单
.context-menu {
  background: #fff;
  color: #191919;
  border-radius: 6px;
  border: 1px solid #c8ccd3;
  // box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.06);
  padding: 6px 0;
  font-size: 14px;
  user-select: none;

  li {
    padding: 10px 24px;
    display: block;
    cursor: pointer;
  }

  li:hover {
    background: #f4f4f4;
  }
}

.context-menu-mask {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.02);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.context-menu-hover:hover {
  background: rgba(0, 0, 0, 0.02) !important;
}

// 图标
.iconfont {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}

.iconfont.app {
  pointer-events: none;
  width: 3em;
}

// 动画 animate
@keyframes animate-spin {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: animate-spin 1s linear infinite;
}
