:root {
  --primary: #12507b;
  --background: #eaeef1;
  --text-primary: #333333;
  // element
  --el-color-primary: #12507b;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  color: var(--text-primary);
  background: var(--background);
  font-size: 16px;
  font-weight: 300;
  word-spacing: 1px;
  word-break: break-word;
}

html,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

a {
  cursor: pointer;
  color: var(--primary);
  text-decoration: none;
  word-break: break-word;
  border-bottom: 1px solid transparent;
}
a:hover {
  border-bottom: 1px solid #0f60ab;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Safari */
input {
  -webkit-appearance: none;
}

/* 禁用样式 */
[disabled] {
  pointer-events: none;
  opacity: 0.41;
}

.el-image {
  white-space: nowrap;
  width: 100%;
  height: 100%;

  .el-image__error {
    font-size: 16px;
  }
}

.el-popover {
  text-align: center;
}

.el-message {
  min-width: 270px;
}

.el-message-box {
  user-select: text;
  width: 270px;
}

.el-switch__core:after {
  top: 0.4vw;
  left: 0.4vw;
}

.el-switch__core {
  width: 10.667vw !important;
}

.el-button.el-button--text {
  padding: 0;
}

// el-dialog
.el-dialog {
  width: 90%;
  margin-bottom: 10vh;

  .el-dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .el-dialog__headerbtn {
      position: inherit;
    }
  }

  .el-dialog__body {
    color: inherit;
    font-size: inherit;
    padding: 10px;
  }
}

// 图标
.iconfont {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}

.iconfont.app {
  pointer-events: none;
  width: 3em;
}

// 动画 animate
@keyframes animate-spin {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: animate-spin 1s linear infinite;
}

// PC 端
@media (min-width: 1024px) {
  // 滚动条
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  // 失去焦点
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(102, 128, 153, 0.1);
  }

  // 滑块样式
  ::-webkit-scrollbar-thumb {
    background: rgba(102, 128, 153, 0.3);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(102, 128, 153, 0.5);
  }

  ::-webkit-scrollbar-thumb:active {
    background: rgba(102, 128, 153, 0.6);
  }

  // 背景色
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}
